In [1]:
import pandas as pd

In [10]:
data = {'Names': ['Jane Doe Bitch', 'John Smith', 'Alice Johnson']}
df = pd.DataFrame(data)
df

            Names
0  Jane Doe Bitch
1      John Smith
2   Alice Johnson

In [11]:
df_split = df['Names'].str.split(expand=True)
df_split

       0        1      2
0   Jane      Doe  Bitch
1   John    Smith   None
2  Alice  Johnson   None

In [12]:
df_split.stack()

0  0       Jane
   1        Doe
   2      Bitch
1  0       John
   1      Smith
2  0      Alice
   1    Johnson
dtype: object